body {
    font-family: Verdana;
}

.lines {
    height: 20px;
}

#match {
    color: #aaffaa;
}

#bad {
    background-color:red;
}

.first {
    font-weight: bold;
}

.lines, #input {
    font-size: 12pt;
    width: 100%;
}

#spacer {
    height: 10px;
}

#header {
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items:         center;
}

#workArea {
    margin: 20px;
}

#logo {
    font-size: 20pt;
}

#graph {
    width: 400px;
    height: 200px;
}